header
	div
		h1 Job
			span Ready
		
		nav
			ul
				li
					a(href='/') Dashboard
				li
					a(href='/candidates') Candidates
				li
					a(href='/employers') Employers
				li
					a(href='/vacancies') Vacancies
				li
					a(href='/placements') Placements
		div.account
			span.email jonathan.conway@gmail.com
			button Sign out

		block goback