doctype
html(lang='en')
head
	title='JobReady'
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible',content='IE=edge')
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel='stylesheet', href='/public/styles/jobready.css')
body
	header
		div
			h1='JobReady'
			nav
				ul
					li
						a(href='/candidates') Candidates
					li
						a(href='/employers') Employers
					li
						a(href='/vacancies') Vacancies
					li
						a(href='/placements') Placements

	block content

	footer
		p
			|Copyright &copy; 2014, Jonathan A. Conway.

	// scripts

	// -- live reload
	script(src='//localhost:35729/livereload.js')