
@import './_utils';
@import './_labels';

.candidate.page {
	&:extend(.container);

	h1 {
		@media screen and (max-width: @screen-xs) {
			font-size: 1.5em;
		}

		img.candidate-image {
			width: 1.9em;
			border-radius: 100%;
		}

		.name {
			margin-left: 0.5em;
			display: inline-block;
		}

		.user-role {
			&:extend(.label);
			&:extend(.label-default);
			
			margin-left: 0.5em;
		}
	}

	.personal-details {
		h3 .edit {
			&:extend(.btn-default);
			&:extend(.btn);

			text-transform: initial;
			padding: 0 5px;
			margin-left: 10px;
			margin-top: -3px;
		}

		> div {
			.make-row();
			&:extend(.labels-on-top all);

			> div {
				&:extend(.form-group);
			}

			.first-name,
			.last-name,
			.dob,
			.gender {
				.make-xs-column(6);
				.make-sm-column(3);
				.make-md-column(3);
				.make-lg-column(3);
			}

			.email {
				.make-xs-column(6);
				.make-sm-column(6);
				.make-md-column(6);
				.make-lg-column(6);
			}

			.phone,
			.mobile {
				.make-xs-column(6);
				.make-sm-column(3);
				.make-md-column(3);
				.make-lg-column(3);
			}

			.home-address,
			.postal-address {
				.make-xs-column(12);
				.make-sm-column(6);
				.make-md-column(6);
				.make-lg-column(6);
			}

			.age {
				color: @gray-light;
			}
		}
	}

	.history {
		border-top: 1px solid @page-header-border-color;
		padding-top: 10px;
		position: relative;

		> div {
			.make-row();
			.container-fixed();

			padding-left: 0;

			ul {
				.make-sm-column(9);
				.make-md-column(9);
				.make-lg-column(9);

				list-style: none;
				padding: 0;

				li.activity {
					&:extend(.media);

					margin-top: @padding-base-vertical;
					display: none;

					> div:first-child {
						&:extend(.pull-left);
						&:extend(.media .pull-left);
					}

					> div:last-child {
						&:extend(.media-body);
					}

					img {
						width: 26px;
					}

					.date {
						color: @gray-light;
						font-size: 0.8em;
						display: block;
					}

					a {
						&:extend(.link-only-on-mouseover);
					}
				}

				li.gap {
					&:before, &:after {
						background-color: @gray-light;
						width: 10px;
						height: 10px;
						content: ' ';
						margin: 10px;
						border-radius: 100%;
						display: block;
					}
				}

				&.filter-all li.activity {
					display: list-item;
				}

				&.filter-work li.work { display: list-item; }
				&.filter-education li.education { display: list-item; }
				&.filter-communication li.communication { display: list-item; }
				&.filter-applications li.applications { display: list-item; }
				&.filter-interviews li.interviews { display: list-item; }
				&.filter-placements li.placements { display: list-item; }
				&.filter-apprenticeships li.apprenticeships { display: list-item; }
				&.filter-licences li.licences { display: list-item; }
				&.filter-references li.references { display: list-item; }
			}

			.filters {
				.make-sm-column(3);
				.make-md-column(3);
				.make-lg-column(3);

				padding-left: 0;
				padding-right: 0;

				&:extend(.panel);
				&:extend(.panel-default);

				> span {
					&:extend(.panel-default .panel-heading);
					&:extend(.panel-heading);

					display: block;
				}

				> div {
					&:extend(.panel-body);

					.filter {
						&:extend(.input-group);

						.filter-count {
							color: @gray-light;
							margin-left: 0.2em;
						}
					}
				}
			}
		}

		@import './activity_detail';
	}
}