@import './_utils';

.dashboard.page {
	&:extend(.container);

	@media screen and (max-width: @screen-xs) {
		padding-left: 0;
		padding-right: 0;
	}

	.dashboard-view {
		@media screen and (min-width: @screen-xs) {
			display: none;
		}

		> div {
			&:extend(.btn-group all);

			width: 100%;

			button {
				.make-xs-column(4);
				&:extend(.btn);
				&:extend(.btn-group .btn all);
				&:extend(.btn-default);
				&:extend(.btn-sm);

				&.active {
					&:extend(.btn-primary);
				}
			}
		}
	}

	@media screen and (max-width: @screen-xs) {
		h2 {
			display: none;
		}

		.dashboard-row {
			.candidates,
			.vacancies,
			.events {
				display: none;
			}

			&.candidates .candidates,
			&.vacancies .vacancies,
			&.events .events {
				display: block;
			}
		}
	}

	.dashboard-row {
		.make-row();

		.candidates {
			.make-sm-column(6);

			.candidate {
				&:extend(.media);

				margin-top: 10px;

				.candidate-image {
					&:extend(.pull-left);
					&:extend(.media .pull-left);

					img {
						width: 1.9em;
						border-radius: 100%;
					}
				}

				.candidate-body {
					&:extend(.media-body);

					h4 {
						font-size: 14px;
						display: inline-block;
						font-weight: bold;
						margin: 0.2em 0 0 0;

						a {
							&:extend(.link-only-on-mouseover);
						}
					}

					ul {
						list-style: none;
						padding: 0;
						font-size: 12px;

						li {
							margin-top: @padding-base-vertical;

							.update-date {
								display: block;
								font-size: 10px;
								color: @gray-light;
							}
						}
					}
				}
			}
		}

		.vacancies {
			.make-sm-column(6);

			.vacancy {
				&:extend(.media);

				margin-top: 10px;

				.vacancy-image {
					&:extend(.pull-left);
					&:extend(.media .pull-left);

					img {
						width: 1.9em;
					}
				}

				.vacancy-body {
					&:extend(.media-body);

					h4 {
						font-size: 14px;
						display: inline-block;
						font-weight: bold;
						margin-bottom: 0;
						margin: 0.2em 0 0 0;
					}

					.date {
						display: block;
						font-size: 10px;
						color: @gray-light;
					}
				}
			}
		}
	}
}