
body > header {
	&:extend(.navbar);
	&:extend(.navbar-static-top);
	&:extend(.container);

	text-align: center;
	position: relative;
	min-height: 0;

	> div {
		> h1 {
			&:extend(.navbar-header);

			border: none;
			color: #555;
			font-size: 1.5em;
			margin: 0 10px 0 0;
			display: inline-block;

			@media screen and (min-width: @screen-xs) {
				line-height: 50px;
				height: 50px;
			}

			span {
				color: #ff9900;
			}
		}

		.goback {
			display: block;
			clear: left;
			text-align: left;

			&:before {
				content: '< ';
			}
		}

		nav {
			&:extend(.nav-collapse);

			@media screen and (max-width: @screen-md) {
				ul {
					li:nth-child(n+4),
					li:nth-child(n+5) {
						display: none;
					}
				}
			}

			ul {
				&:extend(.nav all);
				&:extend(.navbar-nav all);
			}
		}

		.account {
			position: absolute;
			right: 0;
			top: 0;

			.email {
				font-size: 0.9em;
			}

			button {
				&:extend(.btn);
				&:extend(.btn-default);
				&:extend(.btn-sm);

				margin: 10px 0 10px 10px;
			}
		}
	}
}