@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

header {
	@extend .navbar;
	@extend .navbar-static-top;

	> div {
		@extend .container;

		border-bottom: solid 1px $page-header-border-color;

		> h1 {
			@extend .navbar-header;

			background-image: url(/public/images/logo.png);
			background-repeat: no-repeat;
			background-position: left 9px;
			text-indent: -10000em;
			border: none;
			width: 150px;
			color: transparent;
			height: 50px;
			margin: 0 10px 0 0;
		}

		nav {
			@extend .collapse;
			@extend .navbar-collapse;

			ul {
				@extend .nav;
				@extend .navbar-nav;

				li {

				}
			}
		}
	}
}