
body > header {
	&:extend(.navbar);
	&:extend(.navbar-static-top);
	&:extend(.container);

	text-align: center;
	position: relative;
	min-height: 0;

	@media screen and (max-width: @screen-xs) {
		padding: 0;
	}

	> div {
		> h1 {
			&:extend(.navbar-header);

			border: none;
			color: #555;
			font-size: 1.5em;
			margin: 0 10px 0 0;
			display: inline-block;

			@media screen and (min-width: @screen-xs) {
				line-height: 50px;
				height: 50px;
			}

			span {
				color: #ff9900;
			}
		}

		nav {
			&:extend(.nav-collapse);

			@media screen and (max-width: @screen-md) {
				ul {
					li:nth-child(n+4),
					li:nth-child(n+5) {
						display: none;
					}
				}
			}

			@media screen and (max-width: @screen-xs) {
				width: 20px;
				height: 20px;
				position: absolute;
				left: 0;
				top: 5px;

				background-image: url(/public/images/Icon_JC_HamburgerMenu.svg);
				background-repeat: no-repeat;
				background-position: 0;
			}

			ul {
				&:extend(.nav all);
				&:extend(.navbar-nav all);

				@media screen and (max-width: @screen-xs) {
					display: none;
				}
			}
		}

		.account {
			position: absolute;
			right: 0;
			top: 0;

			@media screen and (max-width: @screen-xs) {
				display: inline-block;
			}

			.email {
				font-size: 0.9em;

				@media screen and (max-width: @screen-xs) {
					display: none;
				}
			}

			button {
				&:extend(.btn);
				&:extend(.btn-default);
				&:extend(.btn-sm);

				@media screen and (min-width: @screen-xs) {
					margin: 10px 0 10px 10px;
				}
			}
		}
	}
}