
$line-height-computed: 10px;

@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

header {
	@extend .navbar;
	@extend .navbar-static-top;

	> div {
		@extend .container;
		border-bottom: solid 1px $page-header-border-color;

		h1 {
			@extend .navbar-header;

			background-image: url(/public/images/logo.png);
			background-repeat: no-repeat;
			background-position: left 9px;
			text-indent: -10000em;
			border: none;
			width: 150px;
			color: transparent;
			height: 50px;
			margin: 0 10px 0 0;
		}

		nav {
			@extend .collapse;
			@extend .navbar-collapse;

			ul {
				@extend .nav;
				@extend .navbar-nav;

				li {

				}
			}
		}
	}
}


body {
	h1 {
		@extend .page-header;

	}

	h2 {
	}
}

.dashboard {
	@extend .container;

	> div {
		@extend .row;

		h3 {
			font-size: 0.9em;
			color: $gray-light;
			text-transform: uppercase;
			font-weight: bold;
			margin-top: 15px;
		}

		.candidates {
			@extend .col-sm-6;

			.candidate {
				@extend .media;

				margin-top: 10px;

				.candidate-image {
					@extend .pull-left;

					img {
						width: 26px;
						border-radius: 100%;
					}
				}

				.candidate-body {
					@extend .media-body;

					h4 {
						font-size: 14px;
						display: inline-block;
						font-weight: bold;
						margin-bottom: 0;
					}

					ul {
						list-style: none;
						padding: 0;
						font-size: 12px;

						li {
							margin-top: $padding-base-vertical;

							.update-date {
								display: block;
								font-size: 10px;
								color: $gray-light;
							}
						}
					}
				}
			}
		}

		.vacancies {
			@extend .col-sm-6;

			.vacancy {
				@extend .media;

				margin-top: 10px;

				.vacancy-image {
					@extend .pull-left;

					img {
						width: 26px;
					}
				}

				.vacancy-body {
					@extend .media-body;

					h4 {
						font-size: 14px;
						display: inline-block;
						font-weight: bold;
						margin-bottom: 0;
					}

					.date {
						display: block;
						font-size: 10px;
						color: $gray-light;
					}
				}
			}
		}
	}
}

footer {
	@extend .navbar-fixed-bottom;
	@extend .container;
	@extend .text-center;
}
























