@import './bootstrap/bootstrap';

@line-height-computed: 0.05;

@import './_type';
@import './_labels';

html, body {
	overflow: hidden;
}

@import './header';
@import './dashboard';
@import './candidate';

body {
	padding-bottom: @navbar-height;
}

footer {
	&:extend(.navbar-fixed-bottom);
	&:extend(.text-center);
	.container-fixed();

	z-index: 1;
	background-color: white;
	border-top: 1px solid @page-header-border-color;
}

@import './jobready.mobile.less';